* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    height: 100vh;
    background-image: url(Smileybackground3.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page-title {
  position: absolute;
  top: 60px;
  text-align: center;
  width: 100%;
  }
  .page-title h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: bolder;
    color: #ffffff;
    background-color: rgb(176, 41, 218);
    padding: 14px;
    border-radius: 15px;
    display: inline;
  }
  
  .login-container {
    background-color: rgb(249, 245, 255);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    margin-top: 70px;
  }
    
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #a23bdd;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #7117a5;
  }
  
  .register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
  }
  
  .register-link a {
    color: #a50fe0;
    text-decoration-line: underline;
  }
  .error-message {
    color: rgb(197, 3, 3);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 5px;
  }
  